#barcode-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;

    top: 50%;                         /* 3 */
    transform: translate(0, +60%);

}

#home {
    text-align: center;
}

#bartext {
    width: 25ch;
}

.nav {
    display: block;
}